rdkit==2023.9.5
langchain==0.1.13
basis-set-exchange==0.10
pandas==2.2.2
selfies==2.1.1
beautifulsoup4==4.12.3
fpdf==1.7.2
pypdf==4.1.0
openai==1.14.2
molmod==1.4.8
scikit-learn==1.4.1.post1
psutil==5.9.8
sacrebleu==2.4.2
tiktoken==0.6.0
numpy==1.26.4